<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/style.css">
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}" />
    {% if tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} - {{ tag }}" />
    {% endif %}
</head>

<body>
    <div class="header nounderline">
        <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    </div>
    <div class="menu nounderline">
        <ul>
            {% for p in PAGES %}
                <li>
                    <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                </li>
            {% endfor %}
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        <p>
            Copyright © {{ YEAR }} Alexander Kojevnikov
        </p>
        <p>
            Licensed under
            <a href="http://creativecommons.org/licenses/by-sa/3.0/">cc-by-sa</a>
            (posts) and
            <a href="http://creativecommons.org/publicdomain/zero/1.0/">cc0</a>
            (code snippets)
        </p>
        <p>
            Powered by <a href="http://docs.getpelican.com/">Pelican</a>. Served
            by <a href="http://nginx.org/">nginx</a> running
            under <a href="http://www.freebsd.org/">FreeBSD</a>.
        </p>
    </div>
</body>
</html>
